anon_root={{ anon_root }}
anonymous_enable={{ anonymous_enable }}
hide_ids=YES
local_enable=NO
write_enable=YES
local_umask=022
anon_upload_enable=YES
#anon_mkdir_write_enable=YES
dirmessage_enable=YES
xferlog_enable=YES
xferlog_std_format=YES
listen=YES
pam_service_name=vsftpd

